body {
  font-family: "Exo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #3a3c43;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  z-index: 1;
}

h1 {
  font-family: "Source Serif Pro", serif;
  font-size: 50px;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.container--header {
  position: relative;
  padding: 55px 90px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container--header:after {
  position: absolute;
  bottom: -150px;
  right: -100px;
  content: '';
  width: 0;
  height: 0;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  border-top: 200px solid #d7d9f1;
  z-index: 0;
}

.header {
  text-align: right;
  background-color: #d7d9f1;
}