body {
  font-family: "Exo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #3a3c43;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  z-index: 1;
}

h1 {
  margin-bottom: 20px;
  font-family: "Source Serif Pro", serif;
  font-size: 50px;
  text-transform: uppercase;
}

a:hover {
  color: #8df5dc;
}

.title-h2 {
  font-family: "Source Serif Pro", serif;
  font-size: 30px;
}

.title-h3 {
  font-family: "Source Serif Pro", serif;
  font-size: 22px;
}

.container {
  margin: 0 auto;
  width: 1400px;
}

/* __________________________________ */

.container--header {
  position: relative;
  padding: 55px 90px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container--header:after {
  position: absolute;
  bottom: -150px;
  right: -100px;
  content: '';
  width: 0;
  height: 0;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  border-top: 200px solid #d7d9f1;
  z-index: -1;
}

.container--content {
  display: flex;
}

.header {
  text-align: right;
  background-color: #d7d9f1;
}

/* __________________________________ */

.aside {
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  font-size: 25px;
  line-height: 170%;
  background-color: #95a7ca;
  /* overflow: hidden; */
}

.profile {
  margin-bottom: 40px;
}

.profile__info {
  padding: 0;
}

.profile__info li,
.goals__list li,
.contacts__list li {
  padding: 0;
  list-style: none;
}

.goals {
  margin-bottom: 40px;
  display: flex;
}

.goals__title,
.contacts__title {
  position: relative;
  display: inline;
}

/* .goals__title::after,
.contacts__title::after  {
  position: absolute;
  top: 35px;
  right: 0;
  width: 500px;
  height: 1px;
  content: "";
  background-color: #3a3c43;
} */

.goals__list li::before,
.contacts__list li::before {
  margin-right: 10px;
}

.contacts__link {
  text-decoration: none;
  color: inherit;
}

/* __________________________________ */

main {
  padding: 60px;
}

main section {
  margin-bottom: 80px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #3a3c43;
}

.skills__item {
  margin-bottom: 50px;
}

.skills__title {
  margin-bottom: 40px;
}

.skills__list li {
  list-style-type: none;
}

.skills__code-example {
  padding: 20px;
  max-width: 430px;
  background-color: #e8f3f5;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.skills__lan-link {
  text-decoration: none;
  color: #000;
}

.skills__lan-link:hover {
  color: #95a7ca;
}

.skills_lan-text {
  max-width: 430px;
}



